$menu-height: 260px;
//banner
.banner {
  margin-top: $menu-height;
}
//dim-outCurtains
.dim-outCurtains {
  width: 100%;
  height: auto;
  .title1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

    .text {
      text-align: center;
      font-size: 30px;
      letter-spacing: 4px;
      margin: 40px;
      width: 50%;
      color: #b2252d;
    }
  }
  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 60px 0;

    h1 {
      font-size: 45px;
      color: #b2252d;
      font-weight: 700;
      letter-spacing: 7px;
    }
  }

  .productCart {
    .product1 {
      background-color: white;
      img {
        padding: 20px;
      }

      p {
        font-family: Century Gothic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        color: #676767;
        line-height: 30px;
        letter-spacing: 2px;
        text-align: center;
        margin-top: 20px;
      }

      p:last-child {
        font-size: 20px;
        color: black;
        font-weight: 520;
      }
    }
    .product1:hover {
      box-shadow: 1px 0px 20px 12px rgba(11, 28, 42, 0.25);
    }
  }
}
//blackoutCurtains
.blackoutCurtains {
  width: 100%;
  height: auto;
  .title1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

    .text {
      text-align: center;
      font-size: 30px;
      letter-spacing: 4px;
      margin: 40px;
      width: 50%;
      color: #b2252d;
    }
  }
  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 60px 0;

    h1 {
      font-size: 45px;
      color: #b2252d;
      font-weight: 700;
      letter-spacing: 7px;
    }
  }

  .productCart {
    .product1 {
      background-color: white;

      img {
        padding: 20px;
      }

      p {
        font-family: Century Gothic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        color: #676767;
        line-height: 30px;
        letter-spacing: 2px;
        text-align: center;
        margin-top: 20px;
      }

      p:last-child {
        font-size: 20px;
        color: black;
        font-weight: 520;
      }
    }
    .product1:hover {
      box-shadow: 1px 0px 20px 12px rgba(11, 28, 42, 0.25);
    }
  }
}
//sheerCurtains
.sheerCurtains {
  width: 100%;
  height: auto;
  .title1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

    .text {
      text-align: center;
      font-size: 30px;
      letter-spacing: 4px;
      margin: 40px;
      width: 50%;
      color: #b2252d;
    }
  }
  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 60px 0;

    h1 {
      font-size: 45px;
      color: #b2252d;
      font-weight: 700;
      letter-spacing: 7px;
    }
  }

  .productCart {
    .product1 {
      background-color: white;

      img {
        padding: 20px;
      }

      p {
        font-family: Century Gothic;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        color: #676767;
        line-height: 30px;
        letter-spacing: 2px;
        text-align: center;
        margin-top: 20px;
      }

      p:last-child {
        font-size: 20px;
        color: black;
        font-weight: 520;
      }
    }
    .product1:hover {
      box-shadow: 1px 0px 20px 12px rgba(11, 28, 42, 0.25);
    }
  }
}

//Responsive
@media (max-width: 1040px) {
  .wrapMenu {
    .hexbit-navbar {
      min-height: 80px;
      height: 100px;
      .main-panel {
        .infor1 {
          i {
            font-size: 30px;
          }
        }
      }
      .logo1 {
        img {
          width: 80px;
          height: 30px;
          margin-bottom: 15px;
        }
      }
    }
  }
  .banner {
    margin-top: 100px;
  }
}
@media (max-width: 575px) {
  .dim-outCurtains,
  .blackoutCurtains,
  .sheerCurtains {
    .title {
      hr {
        width: 30%;
      }
      h1 {
        letter-spacing: 1px;
      }
    }
    .title1 {
      .text {
        font-size: 20px;
        margin: 0;
        text-align: center;
      }
    }
    .productCart {
      .product1 {
        img {
          padding: 10px;
        }
        &:hover {
          box-shadow: none;
        }

        margin: 0;
        p {
          font-size: 12px;
        }
      }
    }
    .title {
      h1 {
        font-size: 18px;
      }
    }
  }
}
