$menu-height: 260px;
//mainAdress
.mainAdress {
  width: 100%;
  padding-top: 70px;
}
//localAdress
.localAdress {
  margin-top: $menu-height;
  height: auto;

  .box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;

    .infor {
      margin-left: 20px;

      span {
        font-size: 24px;
      }

      a {
        text-decoration: none;
        color: black;
        margin-left: 0;
      }

      i {
        margin-right: 8px;
      }

      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
    }
  }
}
//Responsive
@media screen and (max-width: 1040px) {
  .wrapMenu {
    .hexbit-navbar {
      min-height: 80px;
      height: 90px;
      .main-panel {
        .infor1 {
          i {
            font-size: 30px;
          }
        }
      }
      .logo1 {
        img {
          width: 80px;
          height: 30px;
        }
      }
    }
  }

  .localAdress {
    padding: 20px;

    .box {
      width: 100%;
      height: auto;
      padding: 0px;
    }
  }

  .footer {
    padding: 20px 30px;
    .wrapFooter {
      .logo {
        text-align: center;
      }
      .contactUs,
      .popular,
      .information,
      .connectUs {
        margin-bottom: 30px;
        a {
          font-size: 16px;
        }
      }
    }
  }
}
